.contacts-header {
  @extend %list;

  @include limitedWidth($tablet - 1px) {
    margin-bottom: 64px;
  }

  @include breakpoint($tablet) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.contacts-header__item {
  &:not(:last-child) {
    @include limitedWidth($tablet - 1px) {
      margin-bottom: 32px;
    }

    @include breakpoint($tablet) {
      margin-top: 10px;
    }
  }
}

.contacts-header__link {
  color: inherit;

  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;

  @include limitedWidth($tablet - 1px) {
    &--tel {
      color: $accent-color;
      font-size: 34px;
      line-height: 1.18;

      @include limitedWidth($mobile - 1px) {
        font-size: 27px;
      }
    }

    &--mail {
      font-size: 24px;
    }
  }

  @include breakpoint($tablet) {
    @include centeredFlex();
    fill: currentColor;
    font-size: 12px;

    transition: color 250ms $timing-function;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}

.contacts-header__icon {
  @include limitedWidth($tablet - 1px) {
    display: none;
  }

  @include breakpoint($tablet) {
    margin-right: 8px;
  }
}
