.contacts-header {
  @extend %list;

  @include limitedWidth($tablet - 1px) {
    margin-bottom: 64px;
  }

  @include breakpoint($tablet) {
    display: flex;
    flex-direction: column-reverse;
  }

  @include breakpoint($desktop) {
    flex-direction: row-reverse;
  }
}

.contacts-header__item {
  &:not(:last-child) {
    @include limitedWidth($tablet - 1px) {
      margin-bottom: 32px;
    }

    @include cuttedWidth($tablet, $desktop - 1px) {
      margin-top: 10px;
    }

    @include breakpoint($desktop) {
      margin-left: 30px;
    }
  }
}

.contacts-header__link {
  color: inherit;

  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;

  @include breakpoint($tablet) {
    @include centeredFlex(inline-flex);
    fill: currentColor;
    font-size: 12px;

    transition: color 250ms $timing-function;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  @include breakpoint($desktop) {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;

    font-size: 14px;
    line-height: 1.14;

    &::after {
      position: absolute;
      left: 0;
      bottom: -1px;

      content: '';
      width: 100%;
      height: 4px;
      background-color: $accent-color;
      border-radius: 2px;

      transform: scaleX(0);
      transform-origin: left;
      transition: transform 250ms $timing-function;
    }

    &:hover::after,
    &:focus::after {
      transform: scaleX(1);
    }
  }

  &--tel {
    @include limitedWidth($tablet - 1px) {
      color: $accent-color;

      font-size: 34px;
      line-height: 1.18;
    }

    @include limitedWidth(376px) {
      font-size: 27px;
    }
  }

  &--mail {
    @include limitedWidth($tablet - 1px) {
      font-size: 24px;
    }
  }
}

.contacts-header__icon-tablet {
  display: none;

  @include cuttedWidth($tablet, $desktop - 1px) {
    display: block;
    margin-right: 8px;
  }
}

.contacts-header__icon-desktop {
  display: none;

  @include breakpoint($desktop) {
    display: block;
    margin-right: 10px;
  }
}
