.hero {
  @include centeredFlex($main-axis: center);
  flex-direction: column;
  max-width: $mobile;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  // padding-top: 118px;
  // padding-bottom: 118px;
  padding-left: 15px;
  padding-right: 15px;

  background-color: $hero-bg-color;
  // если картинка не загрузится
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero-bg/hero-bg-mobile.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/hero-bg/hero-bg-mobile@2x.jpg');
  }

  @include breakpoint($tablet) {
    max-width: $tablet;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/hero-bg/hero-bg-tablet.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url('../images/hero-bg/hero-bg-tablet@2x.jpg');
    }
  }

  @include breakpoint($desktop) {
    max-width: 1600px;
    height: 600px;

    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/hero-bg/hero-bg-desktop.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url('../images/hero-bg/hero-bg-desktop@2x.jpg');
    }
  }
}

.hero__title {
  max-width: 360px;
  margin-top: 0;
  margin-bottom: 30px;
  // margin-left: auto;
  // margin-right: auto;

  color: $primary-white-color;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @include breakpoint($desktop) {
    max-width: 696px;

    font-size: 44px;
    line-height: 1.36;
  }
}
