.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $footer-bg-color;

  @include limitedWidth($desktop - 1px) {
    text-align: center;
  }
}

.page-footer__inner {
  @include breakpoint($tablet) {
    @include centeredFlex($main-axis: space-around, $cross-axis: baseline);
    flex-wrap: wrap;
  }

  @include breakpoint($desktop) {
    justify-content: flex-start;
  }
}

.page-footer__address {
  @include breakpoint($tablet) {
    width: 231px;
  }
}

.page-footer__logo {
  color: $primary-white-color;
}

.page-footer__social {
  @include limitedWidth($tablet - 1px) {
    margin-top: 60px;
  }

  @include breakpoint($desktop) {
    margin-left: 70px;
  }
}

.page-footer__text {
  display: block;
  margin-bottom: 20px;

  color: $primary-white-color;
  line-height: 1.14;
  text-transform: uppercase;
}

.page-footer__form {
  margin-top: 60px;

  @include breakpoint($tablet) {
    width: 450px;
  }

  @include breakpoint($desktop) {
    width: 570px;
    margin-top: 0;
    margin-left: auto;
  }
}
