.site-nav {
  @extend %list;
}

.site-nav__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.site-nav__link {
  color: $title-text-color;

  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &--active {
    color: $accent-color;
  }
}
