.site-nav {
  @extend %list;

  @include breakpoint($tablet) {
    display: flex;
  }
}

.site-nav__item {
  &:not(:last-child) {
    @include limitedWidth($tablet - 1px) {
      margin-bottom: 32px;
    }

    @include breakpoint($tablet) {
      margin-right: 50px;
    }
  }
}

.site-nav__link {
  color: $title-text-color;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms $timing-function;

  @include limitedWidth($tablet - 1px) {
    font-size: 40px;
    line-height: 1.18;
  }

  @include breakpoint($tablet) {
    position: relative;
    display: block;
    // display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;

    &--active::after {
      position: absolute;
      left: 0;
      bottom: -1px;

      content: '';
      width: 100%;
      height: 4px;
      background-color: $accent-color;
      border-radius: 2px;
    }
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &--active {
    color: $accent-color;
  }
}
