$main-font: 'Roboto', sans-serif;
$logo-font: 'Raleway', sans-serif;
$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$button-hover-color: #188ce8;
$primary-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
$primary-white-color: #ffffff;
$secondary-bg-color: #f5f4fa;
$hero-bg-color: #c4c4c4;
$footer-bg-color: #2f303a;
$logo-black-color: #000000;
$header-border-color: #ececec;
$border-color: #eeeeee;
$icon-color: #afb1b8;
$footer-link-color: rgba(255, 255, 255, 0.6);
$footer-icon-bg-color: rgba(255, 255, 255, 0.1);
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
